$mainColor: #f6f5f6;
.found_page {
  // 去除浏览器的上下回弹效果
  touch-action: none;
  // global样式穿透
  :global {
    .am-navbar-light {
      background-color: $mainColor;
    }
  }
}

.baidu_map {
  height: calc(100vh - 45px);
}
.mapwrap{
  position: relative;
}
.House_content.active{
    bottom: 0vh !important;
}
.House_content {
  position: fixed;
  bottom: -50vh;
  left: 0;
  right: 0;
  background: #fff;
  height: 50vh;
  transition: ease-out .5s all;
}
