// global.scss 全局样式文件
@import "./variables.scss"; // 引入样式文件
// 引入项目字体图标
@import "../assets/fonts/iconfont.css";
* {
  margin: 0px;
  padding: 0px;
  /* 1.移动端元素都是内减模型 */
  box-sizing: border-box;
}
body {
  background-color: #fff;
}
li {
  list-style: none;
}
img {
  vertical-align: middle; /* 图片居中 */
}
a {
  color: #000;
}
input {
  border: 0 none;
  outline-style: none; /*取消内边框*/
}
html {
  // 去掉左右按住移动的回弹效果，如果不取消就会出现一个问题：轮播图组件报错
  // 保留上下能回弹
  touch-action: pan-y;
  // touch-action: none;
}
// ant走马灯高度
.slider-slide{
  height: calc(424 / 750 * 100vw) !important;
}
/* 清除浮动，解决margin-top塌陷 */
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

// .bg_color {
//   background-color: $mainColor;
// }
.map_circle {
  width: 70px;
  height: 70px;
  opacity: .8;
  background-color: #24BC79;
  border: 2px solid #fff;
  color: #fff;
  padding-top: 15px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.map_rect {
  display: flex;
  background-color: #24BC79;
  color: #fff;
  padding: 2px 5px;
}

